<footer>
<div id="footer">
    <ul class="footer-content">
        {% from '_includes/_defaults.html' import SITESUBTITLE with context %}
        {% if SITESUBTITLE %}
        <li class="elegant-subtitle"><span class="site-name">{{ SITENAME }}</span> - {{ SITESUBTITLE }}</li>
        {% endif %}
        {% from '_includes/_defaults.html' import SITE_LICENSE with context %}
        {% if SITE_LICENSE %}
        <li class="elegant-license">{{ SITE_LICENSE }}</li>
        {% endif %}
        <li class="elegant-power">Propulsé par <a href="http://getpelican.com/" title="Pelican Home Page">Pelican</a>. Thème : <a href="http://oncrashreboot.com/pelican-elegant" title="Theme Elegant Home Page">Elegant</a> by <a href="http://oncrashreboot.com" title="Talha Mansoor Home Page">Talha Mansoor</a> - Adapté et traduit par <a href="http://falce.net" title="Site de Matthieu Falce">Matthieu Falce</a></li>
    </ul>
</div>
</footer>
